body {
    font-family: Arial, sans-serif;
    background-color: #F4F6F7;
}

.container {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    color: #2C3E50;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background-color: #3498DB;
    color: white;
    border: none;
    border-radius: 5px;
}